---
import TitleHeader from "./TitleHeader.astro";
import Code from "./icons/Code.astro";
import Angular from "./icons/Angular.astro";
import ProjectCard from "./ProjectCard.astro";
import NextJS from "./icons/NextJS.astro";
import React from "./icons/React.astro";
import TypeScript from "./icons/TypeScript.astro";
import JavaScript from "./icons/JavaScript.astro";

const TAGS = {
  NEXTJS: {
    name: "Next.js",
    icon: NextJS,
  },
  ANGULAR: {
    name: "Angular",
    icon: Angular,
  },
  REACT: {
    name: "React",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypeScript,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScript,
  },
};
interface Project {
    image: string;
    title: string;
    description: string;
    demoUrl?: string;
    sourceUrl?: string;
    imageAlt: string;
    tags: { name: string; icon: (_props: Record<string, any>) => any }[];
}
const PROJECTS : Project[] = [
  {
    image: "/images/projects/repea.webp",
    title: "Repea",
    description:
      "La aplicación Repea permite a los usuarios crear preguntas y respuestas para reforzar el aprendizaje de cualquier tema mediante el uso de tarjetas de memoria.",
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.TYPESCRIPT],
    imageAlt: "Repea aplicacion con interfaz de usuario con fondo de color morado y que muestra preguntas para reforzar el aprendizaje.",
  },
  {
    image: "/images/projects/liftx.webp",
    title: "LiftX",
    description:
      "LiftX es una aplicacion que permite a los usuarios llevar un registro de sus entrenamientos y progreso en el gimnasio con diferentes tipos de ejercicios inicio de sesion y registro de usuarios.",
    tags: [TAGS.ANGULAR, TAGS.JAVASCRIPT, TAGS.TYPESCRIPT],
    imageAlt: "LiftX es una aplicacion que permite a los usuarios llevar un registro de sus entrenamientos.",
  },
];
---

<section>
  <TitleHeader title="Proyectos">
    <Code class="icon-projects" />
  </TitleHeader>{
    PROJECTS.map((PROJECTS) => (
      <ProjectCard
        tags={PROJECTS.tags}
        image={PROJECTS.image}
        title={PROJECTS.title}
        description={PROJECTS.description}
        demoUrl={PROJECTS.demoUrl}
        sourceUrl={PROJECTS.sourceUrl}
        imageAlt={PROJECTS.imageAlt}
      ></ProjectCard>
    ))
  }
</section>

<style>
  .icon-projects {
    width: 2.4rem;
    height: 2.4rem;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 900px) {
    section {
      padding: 0.6rem;
    }
  }
</style>
