---
import TitleHeader from "./TitleHeader.astro";
import Code from "./icons/Code.astro";
import Angular from "./icons/Angular.astro";
import ProjectCard from "./ProjectCard.astro";
import NextJS from "./icons/NextJS.astro";
import React from "./icons/React.astro";
import TypeScript from "./icons/TypeScript.astro";
import JavaScript from "./icons/JavaScript.astro";

const TAGS = {
  NEXTJS: {
    name: "Next.js",
    icon: NextJS,
  },
  ANGULAR: {
    name: "Angular",
    icon: Angular,
  },
  REACT: {
    name: "React",
    icon: React,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    icon: TypeScript,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    icon: JavaScript,
  },
};

const PROJECTS = [
  {
    image: "/images/projects/nextjs.png",
    title: "Next.js",
    description:
      "Next.js is a React framework that enables several features like server-side rendering, static site generation, and more.",
    demoUrl: "https://nextjs.org/",
    sourceUrl: "",
    tags: [TAGS.NEXTJS, TAGS.REACT, TAGS.JAVASCRIPT, TAGS.TYPESCRIPT],
    imageAlt: "Next.js logo",
  },
];
---

<section>
  <TitleHeader title="Proyectos">
    <Code class="icon-projects" />
  </TitleHeader>{
    PROJECTS.map((PROJECTS) => (
      <ProjectCard
        tags={PROJECTS.tags}
        image={PROJECTS.image}
        title={PROJECTS.title}
        description={PROJECTS.description}
        demoUrl={PROJECTS.demoUrl}
        sourceUrl={PROJECTS.sourceUrl}
        imageAlt={PROJECTS.imageAlt}
      ></ProjectCard>
    ))
  }
</section>

<style>
  .icon-projects {
    width: 2.4rem;
    height: 2.4rem;
  }

  section {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 900px) {
    section {
      padding: 0.6rem;
    }
  }
</style>
